/*
    RESETS
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}





/*
    GLOBAL DEFAULTS and VARIABLES
*/


html {
    font-family: var(--font-sans-serif);
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    color: var(--color-text);
}

:root {
    --background:#F7FFFF;
    --color-primary: #BFD8DE;
    --color-secondary: #EF4444;
    --color-text: #313738;
    --color-subhead: #68868C;
    --font-sans-serif:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif:
    Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}




/*
    UTILITY CLASSES
*/
.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: auto;
}

/*  text utility  */

.text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 660px;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: left;
}

@media screen and (min-width: 875px) {

    .text p {
        padding: 0;
    }

    .text h1 {
        text-align: center;
    }

}

/*  red text utility  */

.red p a h1 h2 h3 h4 {
    color: var(--color-secondary);
}




/*
    TYPOGRAPHY - MOBILE STYLES
*/
h1 {
    font-family: var(--font-serif);
    font-size: 4rem;
    line-height: 4rem;
    color: var(--color-text);
}

h2 {

}

h3 {

}

h4 {
    font-size: 18px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: var(--font-serif);
    line-height: 35px;
    max-width: 50ch;
    padding: 16px;
    color: var(--color-text);
    text-align: left;
    padding: 0;
  }

p > a {
    text-decoration: underline;
    color: var(--color-secondary);
}








/*
    Navigation starts here
*/
header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 124;
    align-items: center;
    display: flex;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--color-text);
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

.logo {
    font-family: var(--font-sans-serif);
    align-self: center;
    display: none;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: rgba(247, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 3em;
    margin-right: 4em;
}

nav a {
    color: var(--color-text);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav a:hover {
    color: var(--color-secondary);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


.button {
    width: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 8px;
    background: var(--color-primary);
    color: var(--color-text);
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;  
    grid-column: 4 / 5;
    transition: ease-in-out 150ms;
    margin-left: 24px;
}

.button:hover {
    background-color: var(--color-subhead);
    color: var(--background);
    transition: ease-in-out 150ms;
}






@media screen and (min-width: 875px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        align-items: center;
        max-width: 1200;
        margin: auto;
    }

    .logo {
        display: block;
        min-width: 139;
    }

    nav {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 48px;
    }

    nav li {
        margin-bottom: 0;
        margin-right: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: var(--color-secondary);
        position: absolute;
        bottom: -.1em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

    .button {
        margin-left: 0;
    }
}






/*HERO SECTION*/

section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secondary);
}

section#hero .text {
    margin-top: 10%;
}

  .icons {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  section#hero .subhead {
    max-width: 270px;
  }

.star-feature {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}


/*CASE STUDY SUMMARY SECTION*/
